header {
    font-family: "Gaegu";
    position: fixed;
    width: 800px;
    height: 100px;
    left: 30%;
    font-size: 1.3em;
    text-align: center; 
}

body {
	background-color: #0093D0;	
}

#gameWindow{
	position:fixed;
	top: 10%;
	left: 30%;
	width: 800px;
	height: 400px;
	background-color: black;
	overflow: hidden;
}

#pc {
	position: absolute;
	background-color: blue;
}

#npc {
	position: absolute;
	border-radius: 10px;
	background-color: yellow;
}

#lifebar {
	position: absolute;
	width: 400px;
	left: 400px;
	text-align: right;
}

.platform {
	position: absolute;
	background-color: orange;
	border-radius: 5px;
}

.msgGameOver {
	font-size: 50pt;
	text-align: center;
	color: white;
}

#btnContinue {
	position: absolute;
	left: 350px;
	top: 320px;
	
	display: none;
	
	background-color: rgba(255,255,255,0.6);
	color: black;
	
	padding: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	
	text-align: center;
	font-size: 14pt;
	
	cursor: hand;
	cursor: pointer;
	
	z-index: 10;
	-webkit-touch-callout: none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select: none;
}

#btnContinue:hover {
	background-color: rgba(255, 255, 255, 0.9);
}